$color:#202142;
$color1:white;
$color2:#FF6A95;
$color3:#f1f1fd;
$try:none;
$font:normal;
@mixin theme {
    text-align: center;
    color: $color;
}

@mixin them {
    display: flex;
    flex-direction: row;
}

@mixin sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden !important;
    header {
        .row {
            justify-content: space-around;
            .menu {
                ul {
                    list-style: $try;
                    li {
                        margin-right: 2rem;
                        a {
                            text-decoration: $try;
                            color: $color;
                            opacity: 0.7;
                            &:hover {
                                padding: 10px 15px 10px 16px;
                                width: 133px;
                                height: 44px;
                                background: $color3;
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                border-radius: 32px;
                                color: $color;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        ul {
            list-style: $try;
            color: $color;
            .btn {
                background-color: $color;
                color: $color1;
                border-radius: 10px;
            }
        }
        .drop {
            display: flex;
            justify-content: flex-end;
            .dropleft {
                .dropdown {
                    ul {
                        li {
                            opacity: 0.7;
                            &:hover {
                                font-size: 18px;
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        background-color: #FCFCFF;
        width: 100%;
        border-top: 1px solid #EFEFFF;
        .area {
            .area_one {
                color: $color2;
            }
            .area_two {
                margin-bottom: 3rem;
                h2 {
                    font-style: $font;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 33px;
                    @include theme();
                    margin-top: 3.5rem;
                }
                p {
                    font-style: $font;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    @include theme();
                }
            }
            .search {
                .row {
                    height: 74px;
                    width: 651px;
                    border: 1px solid #EFEFFF;
                    box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    &.search_free {
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0 auto;
                    }
                    .sareah_area {
                        form {
                            input {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
    nav {
        .scroll-by {
            ul {
                background-color: #EFEFFF;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                border: 1px solid #EFEFFF;
                border-radius: 70px;
                width: 226px;
                height: 51px;
                align-items: center;
                justify-content: space-around;
                overflow: hidden;
                li {
                    list-style: $try;
                    padding: 5px;
                    a {
                        text-decoration: $try;
                        color: $color;
                        opacity: 0.7;
                        width: 107px;
                        height: 51px;
                        &:hover {
                            padding: 15px 30px;
                            border: 1px solid #EFEFFF;
                            box-shadow: 0px 10px 15px -10px rgba(2, 5, 132, 0.05);
                            border-radius: 45px;
                            color: $color;
                            background: #FFFFFF;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .menu-bar {
            ul {
                @include them();
                margin: 10px 0px 0px 3rem;
                li {
                    list-style: $try;
                    margin-right: 2rem;
                    a {
                        text-decoration: $try;
                        color: $color;
                        opacity: 0.7;
                        width: 49px;
                        height: 44px;
                        &:hover {
                            background: #FCFCFF;
                            border: 1px solid #EFEFFF;
                            border-radius: 32px;
                            padding: 0.5em;
                            color: $color;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .app-bar {
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            ul {
                @include them();
                li {
                    width: 50px;
                    height: 50px;
                    background: #FCFCFF;
                    border: 1px solid #EFEFFF;
                    border-radius: 70px;
                    list-style: $try;
                    margin-right: 2rem;
                    @include sub();
                }
                .gab {
                    border: 1px solid $color2 !important;
                }
            }
            .dropright {
                margin-top: 0.6;
                button {
                    color: white;
                    background-color: $color;
                }
            }
        }
        @media (max-width: 768px) {
            .scroll-by,
            .menu-bar,
            .app-bar {
                font-size: 10px;
            }
        }
    }
    article {
        .art {
            .art_images {
                width: 90%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                object-fit: cover;
            }
            &.bottom {
                .mask {
                    height: auto;
                    width: auto;
                }
                .p-con {
                    p {
                        display: flex !important;
                        align-items: center !important;
                        justify-content: center !important;
                        margin: 0 auto !important;
                    }
                }
            }
        }
    }
}